$font-size-base:					14px;
$line-height-base:					1.3;


$shell-max-width:					1170px;
$shell-gutter:						10px;


$font-family-sans-serif:			'Arial', 'Helvetica', sans-serif;
$font-family-serif:					'Times', serif;
$font-family-base:					'WebtypeWebUseOnly-Regular', sans-serif;


$responsive-xxs: 					479px;
$responsive-xs: 					767px;
$responsive-sm: 					1023px;
$responsive-md: 					1200px;


$breakpoint-mobile-portrait:		@media (max-width: $responsive-xxs);
$breakpoint-mobile:					@media (max-width: $responsive-xs);
$breakpoint-tablet-portrait:		@media (max-width: $responsive-sm);
$breakpoint-small-desktop:			@media (max-width: $responsive-md);
$retina:							@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
